/* Container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .app {
  font-family: Arial, sans-serif;
  color: #333;
  background: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar .logo {
  font-weight: bold;
  font-size: 20px;
}

.navbar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
.signbtn{
  background: #c27edf;
  color: white;
  border: 10px;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block; 
}

.signbtn:hover {
  background-color: #059669;
}

/* Banner */
.banner {
  background: #def69b;
  padding: 40px;
  text-align: center;
}

.banner h2 {
  font-size: 24px;
  font-weight: bold;
}


.signup-container {
    
    margin-top: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
  
    background-color: #f9fafb;
  }
  
  /* Signup box */
  .signup-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 380px;
  }
  
  /* Title */
  .signup-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #1f2937;
  }
  
  /* Form */
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* Inputs */
  .signup-input {
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
  }
  
  .signup-input:focus {
    outline: none;
    border: 1px solid #10b981;
    box-shadow: 0 0 5px rgba(16, 185, 129, 0.4);
  }
  
  /* Button */
  .signup-btn {
    padding: 0.75rem;
    background-color: #c27edf;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signup-btn:hover {
    background-color: #059669;
  }
  
  .login{
    margin:5px;
    margin-top: 30px;
    color: #1f2937;
    font-size: large;
  }
  .footer {
    background: #f0f2f5;
    padding: 30px 50px;
    margin-top: 40px;
    
  }
  
  .footer-logo {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-grid {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .footer-grid h4 {
    margin-bottom: 10px;
  }
  
  .footer-grid a {
    display: block;
    margin-bottom: 6px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
  }
  