* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, .app {
    font-family: Arial, sans-serif;
    color: #333;
    background: #fff;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navbar .logo {
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  .signbtn{
    background: #c27edf;
    color: white;
    border: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; 
  }